[package]
name = "minecraft-data-rs"
version = "0.4.0"
authors = ["trivernis <trivernis@protonmail.com>"]
edition = "2018"
readme = "README.md"
license = "MIT"
description = "A wrapper for minecraft-data"
repository = "https://github.com/Trivernis/minecraft-data-rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = "1.0.30"
serde_json = "1.0.74"
serde_derive = "1.0.133"
serde = "1.0.133"
include_dir = "0.7.2"
itertools = "0.10.3"
lazy_static = "1.4.0"